﻿@page "/Delete/{id}"
    @using AdminFrontEnd.Models
    @using AdminFrontEnd.Services
    @inject NavigationManager NavigationManager
    @inject MonitoringAPIClient API

    <h3>Delete User Account</h3>
    <hr />
    <h6>Are you sure you want to delete this record?</h6>

    <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label>Username: &nbsp</label>
                    <label>@user.UserUserName</label>
                </div>
                <div class="form-group">
                    <label>Email: &nbsp</label>
                    <label>@user.UserEmail</label>
                </div>
                <div class="form-group">
                    <label>Role: &nbsp</label>
                    <label>@user.UserRole</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
    <input type="button" class="btn btn-danger" @onclick="@Delete" value="Delete" />
    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
                </div>
            </div>
        </div>
    </form>

    @code {

        [Parameter]

        public string id { get; set;}
        public int intId;
        UserAccounts userAccount = new UserAccounts();
        private UserAccounts user = new UserAccounts();
        protected override async void OnInitialized()
        {
            await GetUser();
        }

        protected async Task GetUser()
        {
            intId = int.Parse(id);
            user = await API.GetUserAccount(intId);
            StateHasChanged();
        }
        protected async void Delete()
        {
            intId = int.Parse(id);
            await API.DeleteUserAccount(intId);
            NavigationManager.NavigateTo("Users");
        }
        void Cancel()
        {
            NavigationManager.NavigateTo("Users");
        }
    }
