﻿@page "/Edit/{id}"
@using AdminFrontEnd.Models
@using AdminFrontEnd.Services
@inject MonitoringAPIClient API
@inject NavigationManager NavigationManager

<h1>Edit User Account</h1>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input form="UserUserName" class="form-control" @bind="@user.UserId" />
            </div>
            <div class="form-group">
                <label for="UserUserName" class="control-label">Username</label>
                <input form="UserUserName" class="form-control" @bind="@user.UserUserName" />
            </div>
            <div>
                <label for="UserRole" class="control-label">Role</label>
                <select @bind="@user.UserRole" class="form-control">
                    <option value="">-Select Role-</option>
                    <option value="User">User</option>
                    <option value="Admin">Admin</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@Update" value="Save" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]

    public string id { get; set; }
    public int intId;
    UserAccounts userAccount = new UserAccounts();
    private UserAccounts user = new UserAccounts();
    protected override async void OnInitialized()
    {
        await GetUser();
    }

    protected async Task GetUser()
    {
        intId = int.Parse(id);
        user = await API.GetUserAccount(intId);
        StateHasChanged();
    }
    protected async void Update()
    {
        intId = int.Parse(id);
        await API.UpdateById(user);
        NavigationManager.NavigateTo("Users");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Users");
    }

}
